h1 {
    color:#2f3b52;
    font-weight: 900;
    margin: 2.5rem 0 1.5rem;
    text-align:center
}

input:focus {
    outline: none;
  }
  .inputBox {
    background: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border:1px solid #ddd;
  }
  .inputBox input {
    border-style: none;
    font-size: 0.9rem;
  }
  .bt_add {
      display:block;
      float:right;
      height:100%;
      background: linear-gradient(90deg,#6478fb,#8763fb);
      display: inline-block;
      width: 3rem;
      border-radius: 0 5px 5px 0;
      border:0;
      color:#fff;
      font-weight:900;
      font-size:20px;
  }